<div class="tooltip">
    <button class="image__button"><img  [src]="skill.icon" alt=""></button>
    <div class="item__info">
        <div class="item__info_container">
            <div class="item__image">
                <img [src]="skill.icon" alt="">
            </div>
            <div class="item__details_grid">
                <div class="item__detail">
                    <div>Name: </div>
                    <div>{{skill.name}}</div>
                </div>
                <div class="item__detail">
                    <div>Category: </div>
                    <div>{{skill.category}}</div>
                </div>
                <div class="item__detail">
                    <div>Price: </div>
                    <div>{{skill.price}}</div>
                </div>
                <div class="item__detail">
                    <div>Cooldown: </div>
                    <div>{{skill.maxCooldown}}</div>
                </div>
                <ng-container *ngIf="skill.category == 'PHYS_DAMAGE'">
                    <div class="item__detail">
                        <div>Damage: </div>
                        <div>{{skill.damage}}</div>
                    </div>
                    <div class="item__detail">
                        <div>Critical Chance: </div>
                        <div>{{skill.criticalChance}}</div>
                    </div>
                </ng-container>
                <ng-container *ngIf="skill.category == 'DEFENCE'">
                    <div class="item__detail">
                        <div>Defence: </div>
                        <div>{{skill.defence}}</div>
                    </div>
                    <div class="item__detail">
                        <div>Health: </div>
                        <div>{{skill.health}}</div>
                    </div>
                </ng-container>
                <button [disabled]="skill.isBought" (click)="buySkill(skill)">
                    <span *ngIf="!skill.isBought">Buy item</span>
                    <span *ngIf="skill.isBought">Already bought</span>
                </button>
            </div>
        </div>
    </div>
</div>