<div class="hero__card">
  <div class="hero__card_elements">
  </div>
  <div class="hero__card_image">
    <img src="../../assets/images/login/hero5.png" alt="">
  </div>
  <h4>{{currentBoss?.name}}</h4>
  <div class="progress__text">
    <span>{{currentBoss?.health}}</span>
    <progress class="health__indicatior" max="{{bossHealth}}" value="{{currentBoss?.health}}"></progress>

  </div>


  <div>
    <!--
      <div class="hero__info">
      <div>
        <img src="../../assets/images/game/attack.svg" alt="">
        <h5>{{currentBoss?.attack}}</h5>
      </div>
      <div>
        <img src="../../assets/images/game/shield.svg" alt="">
        <h5>{{currentBoss?.defence}}</h5>
      </div>

    </div>
    -->
  </div>



</div>
