.game__click{
  width: 250px;
  height: 250px;
  border: 1px solid red;
}
progress[value]::-webkit-progress-bar {
  background-color: green;
}

progress[value]::-webkit-progress-value {
  background-color: #FF0000;
}
