<section>
  <p>game works!</p>


<div>
  <h2>Money: {{currentHero.money}}</h2>
</div>

<h1>Level: {{level}}</h1>

<h2>Boss Name: {{currentBoss?.name}} Boss HP: {{currentBoss?.health}} Dropped Money: {{currentBoss?.droppedMoney}}</h2>


<div class="game__click" (click)="moneyClikcs()">

</div>
<h2 *ngIf="errorMessage != null" class="alert__error">{{errorMessage}}</h2>

<button [disabled]="isUpdatePrice" (click)="upMoneyLevel()">
  Up money level cost: {{currentHero.moneyUpPrice}}
</button>


</section>
