.game__bg{
  background-image: url('../../assets/images/game/background-location.jpg');
  height: 100vh;
  background-size: cover;
  user-select: none;
  .overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: auto;
  }
  .battle__grid{
      align-items: center;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      min-height: 400px;
      height: 100%;

      .hero__card, .enemy__card, .battle__image{
        justify-self: center;
      }

      .hero__card, .enemy__card{
        z-index: 11132;
        .hero__skils{
          background: antiquewhite;
          height: 170px;
        }
      }

      .battle__image{
        justify-self: center;
        background: #e4d7d759;
        padding: 2em;
        border-radius: 99px;
        position: relative;
        span{
          position: absolute;
          top: 180px;
          display: flex;
          width: 70%;
          justify-content: center;
        }
        img{
          width: 150px;
        }
      }
  }
}


