<section>
<div class="container">
  <div class="top__panel_elements">

    <div class="current__hero">
        <div class="hero__avatar_name">
          <div class="hero__avatar_frame">
            <img src="../../assets/images/game/frame.svg" alt="">
            <div class="hero__avatar" style="background-image: url('../../assets/images/login/hero1.png');"></div>
          </div>
          <div class="hero__name_level">
              <h3>{{currentHero?.name}}</h3>
              <div>
                <h3>3</h3>
            </div>
            </div>
        </div>

    </div>
    <div class="game__currencies">
        <div>
            <img src="../../assets/images/game/diamond.svg" alt="">
            <h4>{{currentHero?.currency.diamond}} / {{currentHero?.currency.maxDiamond}}</h4>
            <div class="hexagon__position">
              <div class="hexagon"><span>+</span></div>
            </div>
        </div>
        <div>
          <img src="../../assets/images/game/gemstone.svg" alt="">
          <h4>{{currentHero?.currency.emerald}}</h4>
          <div class="hexagon__position">
            <div class="hexagon"><span>+</span></div>
          </div>
        </div>
      <div>
        <img src="../../assets/images/game/coin.svg" alt="">
        <h4 class="block__with_triangle">{{currentHero?.currency.money}}</h4>
      </div>
    </div>

  </div>
</div>



</section>
