<section class="profile__bg">
  <app-game-top-panel></app-game-top-panel>

  <div class="container">
    <div class="heroes__grid">
      <div class="hero__card" *ngFor="let hero of myHeroes" [class.selected]="hero?.id == currentHero?.id" [class.not_selected]="hero.id != currentHero.id">
        <div *ngIf="hero.id == currentHero.id && myHeroes.length != 1" (click)="removeHero(hero)" class="remove__hero">X</div>
        <div class="hero__card_image">
          <img [class.selected__image]="hero.id == currentHero.id" src="../../assets/images/login/hero2.png" alt="">
        </div>
        <h4>{{hero.name}}</h4>
        <button *ngIf="hero.id != currentHero.id; else info" (click)="selectHero(hero.id)">Choose</button>
        <ng-template #info>
            <div class="hero__info">
              <div>
                <img src="../../assets/images/game/health.svg" alt="">
                <h5>{{currentHero.health}}</h5>
              </div>
              <div>
                <img src="../../assets/images/game/attack.svg" alt="">
                <h5>{{currentHero.attack}}</h5>
              </div>
              <div>
                <img src="../../assets/images/game/shield.svg" alt="">
                <h5>{{currentHero.defence}}</h5>
              </div>

            </div>
        </ng-template>
      </div>
      <div class="add__hero" *ngIf="myHeroes?.length != 5">
        <a routerLink="/create-sub"><svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
          viewBox="0 0 480 480" style="enable-background:new 0 0 480 480;" xml:space="preserve">
       <path style="fill:#f8f8fb;" d="M56,288h136v136c0,26.51,21.49,48,48,48s48-21.49,48-48l0,0V288h136c26.51,0,48-21.49,48-48
         s-21.49-48-48-48l0,0H288V56c0-26.51-21.49-48-48-48s-48,21.49-48,48v136H56c-26.51,0-48,21.49-48,48S29.49,288,56,288z"/>
       <path style="fill:#132e25;" d="M240,480c-30.913-0.035-55.965-25.087-56-56V296H56c-30.928,0-56-25.072-56-56s25.072-56,56-56h128
         V56c0-30.928,25.072-56,56-56s56,25.072,56,56v128h128c30.928,0,56,25.072,56,56s-25.072,56-56,56H296v128
         C295.965,454.913,270.913,479.965,240,480z M56,200c-22.091,0-40,17.909-40,40s17.909,40,40,40h136c4.418,0,8,3.582,8,8v136
         c0,22.091,17.909,40,40,40s40-17.909,40-40V288c0-4.418,3.582-8,8-8h136c22.091,0,40-17.909,40-40s-17.909-40-40-40H288
         c-4.418,0-8-3.582-8-8V56c0-22.091-17.909-40-40-40s-40,17.909-40,40v136c0,4.418-3.582,8-8,8H56z"/>
       </svg>
       </a>
      </div>
    </div>
  <div class="circle">
  </div>
  <button (click)="exit()">Exit</button>
  <a routerLink="/create-sub">Create your hero</a>
  <a routerLink="/game" (click)="play()">Play</a>

  </div>


<app-game-bottom-panel></app-game-bottom-panel>
</section>

