
@function multiple-box-shadow ($n) {
  $value: '#{random(2000)}px #{random(2000)}px #FFF';
  @for $i from 2 through $n{
    $value: '#{$value} , #{random(2000)}px #{random(2000)}px #FFF';
  }
  @return unquote($value);
}

$shadows-small:  multiple-box-shadow(700);
$shadows-medium: multiple-box-shadow(3000);
$shadows-big:    multiple-box-shadow(4000);

@font-face{
  font-family: HeroesName;
  src: url('../../assets/fonts/HeroesName.otf');
}
@font-face{
  font-family: 'Brightons';
  src: url('../../assets/fonts/Brightons.ttf');
}

.profile__bg{
  background-image: url('../../assets/images/game/bg.jpg');
  height: 100vh;
  background-size: cover;
  overflow: hidden;
  background-position: bottom;


  #stars{
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: $shadows-small;
  animation	: animStar 50s linear infinite;
    
    &:after{
    content: " ";
    position: absolute;
    top: 2000px;
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: $shadows-small;
    }
  }
  #stars2{
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: $shadows-medium;
  animation			: animStar 100s linear infinite;
    
    &:after{
      content: " ";
      position: absolute;
      top: 2000px;
      width: 2px;
      height: 2px;
      background: transparent;
      box-shadow: $shadows-medium;
    }

    #stars3{
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: $shadows-big;
  animation			: animStar 150s linear infinite;
    
    &:after{
      content: " ";
      position: absolute;
      top: 2000px;
      width: 3px;
      height: 3px;
      background: transparent;
      box-shadow: $shadows-big;
    }
  }
}
.circle{
  width: 4em;
    padding: 4em;
    border: 21px solid #7d6262;
    border-radius: 50%;
    transform: rotate3d(17, -5, 5, 80deg);
}

.heroes__grid{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin-top: 4em;
  min-height: 500px;
  align-items: center;
  .add__hero{
    align-items: center;
    justify-content: center;
    display: flex;

    a{
    border-radius: 50%;
    width: 115px;
    height: 115px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 50px;

      svg{
        width: 75px;
        transition: .5s ease-in;
        path{

          transition: 1s;
        }
        &:hover{
          path:first-child{

            fill:#4495cc !important;
          }
          path:last-child{
            fill: #fff !important;
          }
        }
      }
    }
  }
}
.music__dialog{
  position: absolute;
  top: 0;
  border: 1px solid red;
}

@media screen and (max-width: 1366px){
  .heroes__grid{
    min-height: 200px;
  }
}

  @keyframes animStar {
    from {
      transform: translateY(-2000px);
    }
    to {
      transform: translateY(2000px);
    }
  }
}
