@font-face{
  font-family: HeroesName;
  src: url('../../assets/fonts/HeroesName.otf');
}
@font-face{
  font-family: 'Brightons';
  src: url('../../assets/fonts/Brightons.ttf');
}

.profile__bg{
  background-image: url('../../assets/images/game/bg.jpg');
  height: 100vh;
  background-size: cover;
  overflow: hidden;
  background-position: bottom;
}
.circle{
  width: 4em;
    padding: 4em;
    border: 21px solid #7d6262;
    border-radius: 50%;
    transform: rotate3d(17, -5, 5, 80deg);
}

.heroes__grid{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin-top: 4em;
  min-height: 200px;
  align-items: center;
  .add__hero{
    align-items: center;
    justify-content: center;
    display: flex;

    a{
    border-radius: 50%;
    width: 115px;
    height: 115px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 50px;

      svg{
        width: 75px;
        transition: .5s ease-in;
        path{

          transition: 1s;
        }
        &:hover{
          path:first-child{

            fill:#4495cc !important;
          }
          path:last-child{
            fill: #fff !important;
          }
        }
      }
    }
  }
}
.music__dialog{
  position: absolute;
  top: 0;
  border: 1px solid red;
}
