<section class="shop__section">
    <div class="shop__tabs">
        <button (click)="showAllItems()"></button>
        <button (click)="showAllSkills()"></button>
    </div>
    <div class="shop__block">
        <h4>{{currentHero.name}}</h4>
        <div class="shop__container">
            <div class="items__grid">
                <ng-container *ngIf="isSkills">
                    <div class="shop__item_card" *ngFor="let skill of shop?.allSkills">
                        <app-skill-shop (buySkillEvent)="buySkill(skill)" [skill]="skill"></app-skill-shop>
                    </div>
                </ng-container>
                <ng-container *ngIf="isItems">
                    <div class="shop__item_card" *ngFor="let item of shop?.allItems">
                        <app-item-shop (buyItemEnvet)="buyItem(item)" [item]="item"></app-item-shop>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>
    <img class="shop__dragon" src="../../assets/images/game-icons/shop-dragon.png" alt="">
</section>