
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$virtual-pet-client-primary: mat-palette($mat-indigo);
$virtual-pet-client-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$virtual-pet-client-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$virtual-pet-client-theme: mat-light-theme((
  color: (
    primary: $virtual-pet-client-primary,
    accent: $virtual-pet-client-accent,
    warn: $virtual-pet-client-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($virtual-pet-client-theme);

*{
  margin: 0;
  padding: 0;
}
.alert__error{
  text-align: center;
  font-size: 14px;
  color: #d53c2a;
  margin-top: 2px;
  height: 12px;
}
.container{
  max-width: 1100px;
  margin: 0 auto;
}
.cdk-overlay-container{
  z-index: 9999999;
}
.inventory__dialog{
  .mat-dialog-container{
    padding: 0;
  }
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
