<div class="hero__card" [class.selected]="currentHero != null && hero?.id == currentHero?.id"
  [class.not_selected]="currentHero != null && hero?.id != currentHero.id">
  <div class="hero__card_elements" *ngIf="currentHero != null && hero?.id == currentHero.id">

    <div (click)="removeHero(hero)" *ngIf="myHeroes.length != 1" class="remove__hero">X
    </div>

    <div class="hero__inventory" (click)="inventory(hero)">
      <img src="../../assets/images/game/inventory.svg" alt="">
    </div>
  </div>
  <div class="hero__card_image">
    <img [class.selected__image]="currentHero != null && hero?.id == currentHero?.id"
      src="{{hero.iconPath}}" alt="">
  </div>
  <h4>{{hero?.name}}</h4>

  <button *ngIf="currentHero != null && hero?.id != currentHero.id; else info"
    (click)="select(currentHero.id)">Choose</button>

  <ng-template #info>
    <div class="hero__info">
      <div>
        <img src="../../assets/images/game/health.svg" alt="">
        <h5>{{hero?.health}}</h5>
      </div>
      <div>
        <img src="../../assets/images/game/attack.svg" alt="">
        <h5>{{hero?.attack}}</h5>
      </div>
      <div>
        <img src="../../assets/images/game/shield.svg" alt="">
        <h5>{{hero?.defence}}</h5>
      </div>

    </div>
  </ng-template>



</div>
