<div class="hero__card" [class.selected]="currentHero != null && hero?.id == currentHero?.id"
  [class.not_selected]="currentHero != null && hero?.id != currentHero.id">
  <div class="hero__card_elements">

    <div *ngIf="currentHero != null && hero?.id == currentHero.id && myHeroes?.length != 1" (click)="removeHero(hero)"
      class="remove__hero">X
    </div>

    <div class="hero__inventory" *ngIf="currentHero != null && hero?.id == currentHero?.id" (click)="inventory(hero)">
      <img src="../../assets/images/game/inventory.svg" alt="">
    </div>
  </div>
  <div class="hero__card_image">
    <img [class.selected__image]="currentHero != null && hero?.id == currentHero?.id"
      src="../../assets/images/login/hero5.png" alt="">
  </div>
  <h4>{{currentHero?.name}}</h4>

  <button *ngIf="currentHero != null && hero?.id != currentHero.id; else info"
    (click)="select(currentHero.id)">Choose</button>

  <ng-template #info>
    <div class="hero__info">
      <div>
        <img src="../../assets/images/game/health.svg" alt="">
        <h5>{{currentHero?.health}}</h5>
      </div>
      <div>
        <img src="../../assets/images/game/attack.svg" alt="">
        <h5>{{currentHero?.attack}}</h5>
      </div>
      <div>
        <img src="../../assets/images/game/shield.svg" alt="">
        <h5>{{currentHero?.defence}}</h5>
      </div>

    </div>
  </ng-template>



</div>
