<footer class="bottom__section_panel">
  <div class="grid_bottom_panel">
    <div class="bottom__panel_left">
      <div class="friends" (click)="friendsDialog()">
      </div>
      <div class="shop" (click)="shopDialog()">
      </div>
      <div class="missions">
      </div>
    </div>


    <div class="bottom__panel_right">
      <div class="game__button_bot">
        <a routerLink="/game" (click)="play()">Play with Bot</a>
      </div>
      <div class="game__button_online">
        <a routerLink="/online" (click)="play()">Online</a>
      </div>
    </div>


  </div>
</footer>
